<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon name="arrow-back" color="primary" size="large"></ion-icon>
    </ion-buttons>
    <ion-title> Chat </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="messages.length > 0">
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div #chatScroll></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Type a message"
            [(ngModel)]="message"
            name="message"
            color="terciary"
          ></ion-input>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            fill="outline"
            expand="block"
            shape="round"
            (click)="sendMessage(); message = ''"
            [disabled]="!message"
          >
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
