ion-header {
    ion-toolbar {
        --background: linear-gradient(to right, #d65753, rgb(224, 148, 87)); // Fondo degradado de naranja a amarillo
        --color: #ffffff; // Cambia el color del texto del encabezado
    }

    ion-title {
        font-size: 1.5em; // Ajusta el tamaño del texto del título
        font-weight: bold; // Ajusta el peso de la fuente del título
    }
}


ion-content {
    --ion-background-color: transparent;
    --overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-img {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        object-fit: cover;
    }

    .ion-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .transparent-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 255, 0);
        /* Color azul con opacidad */
        width: 7em;
        /* Ajusta el ancho según tus necesidades */
        height: 7em;
        /* Ajusta la altura según tus necesidades */
        border-radius: 50%;
        /* Hace que el contenedor sea circular */

        /* Agrega un efecto de sombra radial hacia afuera */
        box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.2);
        margin-bottom: 20px;
        /* Ajusta el margen inferior según tus necesidades */
    }

    .transparent-icon-container ion-icon {
        color: rgb(255, 255, 255);
        /* Cambia el color del icono a blanco */
        font-size: 10em;
        /* Ajusta el tamaño del icono según tus necesidades */
    }

    ion-card {
        width: 90%;
        background-color: rgba(205, 229, 221, 0.1);
        backdrop-filter: blur(5px); // Efecto de vidrio esmerilado
    }

    ion-card-content {
        backdrop-filter: blur(2px); // Puedes ajustar la intensidad del vidrio esmerilado
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-item {
            width: 100%;
            max-width: 700px;
            /* Ajusta el ancho máximo del formulario según tus necesidades */
            border-radius: 10px;
            margin-bottom: 10px;
            --background: #f0f0f0;

            ion-input {
                --background: #f0f0f0;
                margin-bottom: 10px;
                --placeholder-color: #000000;
                --color: #000;
            }
        }

        ion-button {
            width: 100%;
            max-width: 400px;
            /* Ajusta el ancho máximo del botón según tus necesidades */
            margin-top: 10px;
            --background: rgb(255, 255, 255);
            --color: rgb(75, 30, 0);
            --border-radius: 20px;

        }
    }
}

ion-text-area {
    color: #000;
}


// ion-content {
//   background-color: #222428;
// }


// .btnSection {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   flex-wrap: wrap;
//   margin-top: 150px;
// }

.btnSection ion-button {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    /* Ajusta el ancho máximo del botón según tus necesidades */
    margin-top: 10px;
    //  --background: rgb(255, 255, 255);
    //  --color: rgb(75, 30, 0);
    --border-radius: 20px;
    --background: rgb(255, 255, 255);
    --color: rgb(75, 30, 0);
    --border-radius: 20px;

}

ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-card-title{
    font-weight: bold;
    color:#ffffff;
    background-color: rgba(228, 60, 30, 0.596);
    padding:  5px  20px 5px 20px;
    border-radius: 20px;
}