ion-header {
    ion-toolbar {
        --background: linear-gradient(to right, #d65753, rgb(224, 148, 87));
        --color: #ffffff;
    }

    .header-content {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    ion-title {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        /* Elimina el margen predeterminado del título */
        padding: 10;
        /* Elimina el padding predeterminado del título */
        text-align: left;
    }
}

ion-img {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
  }

ion-tab-bar {
    --background: #ff3366;
    /* Mantén el fondo de la barra de pestañas en un tono más claro */
}

ion-tab-button {
    color: #fff;
}

ion-searchbar {
    --border-radius: 20px;
    /* Ajusta el valor según sea necesario */
    --background: rgba(255, 255, 255, 0.1);
    /* Ajusta el color de fondo según sea necesario */

}

/* Opcional: Si deseas cambiar el estilo del ícono de búsqueda */
ion-searchbar .searchbar-search-icon {
    color: #ffffff;
    /* Ajusta el color del ícono según sea necesario */
}

/* Opcional: Si deseas cambiar el estilo del botón de cancelar */
ion-searchbar .searchbar-cancel {
    color: #ffffff;
    /* Ajusta el color del botón según sea necesario */
}

/* Opcional: Si deseas cambiar el estilo del texto de búsqueda */
ion-searchbar .searchbar-input {
    color: #ffffff;
    /* Ajusta el color del texto según sea necesario */
}

ion-text.titles {
    font-weight: bold;
    font-size: 1.2em;
    color:#ffffff
    
  }

  .green-bar {
    width: 4px;
    height: 20px;
    background-color: #4e743d;
    margin-right: 10px;
  }


  ion-icon{
    color:#ffffff94
  }

  .group-chat ion-text.titles {
    font-weight: bold;
    font-size: 1.2em;
    color: #ffffff; /* Color blanco */
}

.group-chat ion-list {
    background-color: transparent;
}

.group-chat ion-item {
    background-color: #ffffff;
    backdrop-filter: blur(5px); /* Ajusta el valor del desenfoque según sea necesario */
    border-radius: 10px; /* Ajusta el radio de borde según sea necesario */
    margin-bottom: 8px; /* Ajusta el margen según sea necesario */
}