<div class="card-header">
  <h2 class="card-title">Modify Password</h2>
</div>

<div class="wrapper">
  <ion-input class
    label="Current Password:"
    type="text"
    [(ngModel)]="password"
    name="password"
    required
  ></ion-input>

  <ion-input
    label="New Password:"
    type="text"
    [(ngModel)]="newPassword"
    name="name"
    required
  ></ion-input>

  <ion-button 
    (click)="updatePassword()"
    color="light"
    fill="outline"
    expand="block"
    [disabled]="loading"
    >Update</ion-button
  >
  <ion-button (click)="dismissModal()" color="light" expand="block" 
    >Cancel</ion-button
  >
</div>
