<div class="wrapper">
  <ion-range
  color="warning"
    min="1"
    max="5"
    step="1"
    [ticks]="true"
    [snaps]="true"
    labelPlacement="start"
    label="Rating:"
    [pin]="true"
    [pinFormatter]="pinFormatter"
    [(ngModel)]="rating"
  >
    <ion-icon size="small" slot="start" name="star-outline" color="warning"></ion-icon>
    <ion-icon size="large" slot="end" name="star" color="warning"></ion-icon>
  </ion-range>

  <ion-label position="floating">Description</ion-label>
  <ion-textarea
    [(ngModel)]="description"
    fill="outline"
    [autoGrow]="true"
  ></ion-textarea>

  <ion-button
  (click)="addReview()"
  color="danger"
  expand="block"
  [disabled]="loading"
>
  Add Review
</ion-button>
  <ion-button (click)="dismissModal()" color="danger"  fill="outline"  expand="block"
    >Cancel</ion-button
  >
</div>